* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  background-color: #edf0f5; }

.embed-icon {
  padding: 2px 5px; }

#logo-img {
  width: 130px;
  height: 120px; }

#logo-text {
  color: #3b5998;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 4em;
  font-family: "Francois One", sans-serif;
  font-weight: normal;
  text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; }

#copyright {
  text-align: left;
  padding-left: 20px;
  background-color: #3b5998;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  padding-top: 7px;
  padding-bottom: 6px;
  top: 0;
  color: white; }

#result-end-tag {
  text-align: center;
  color: #999999;
  margin-bottom: 10px; }

#home-btn-row {
  text-align: center;
  display: inline-block;
  width: 360px;
  margin-bottom: 35px; }

.center {
  position: absolute;
  left: 10%;
  right: 10%; }

#home-container {
  margin: 15% auto;
  text-align: center; }
  #home-container #search-btn {
    font-size: 1em; }

#result-container {
  display: none; }

#loading-spinner {
  position: absolute;
  left: 30%;
  margin-top: 60px;
  font-size: 2em;
  color: #3b5998;
  font-weight: bold;
  text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; }

#hints {
  position: absolute;
  left: 30%;
  right: 30%;
  margin-top: 300px;
  text-align: justify;
  color: grey;
  text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; }

.results {
  margin-top: 50px; }
  .results span.highlight-tag {
    color: red;
    font-weight: bold; }

#home-logo-row {
  display: inline-block; }

#home-input {
  margin: 10px auto; }

#home-hint {
  margin-top: -5px;
  margin-bottom: 5px;
  color: gray; }

.entry-container {
  margin-bottom: 10px;
  padding: 10px 10px; }
  .entry-container .service-name {
    font-size: 1.5em;
    margin-bottom: 0px;
    text-decoration: underline; }
    .entry-container .service-name a {
      color: #3b5998 !important; }
  .entry-container .provider {
    font-size: 1.3em; }
    .entry-container .provider a {
      color: #006621 !important;
      font-size: 15px; }
  .entry-container .descriptionUrl {
    font-size: 1.3em;
    color: #006621 !important;
    font-size: 15px; }
  .entry-container .description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px !important;
    margin-bottom: 0px; }

#result-banner {
  background-color: rgba(237, 240, 246, 0.5);
  position: fixed;
  left: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  z-index: 1; }
  #result-banner .back-icon {
    margin-right: 5px; }
  #result-banner #result-input {
    display: inline;
    width: inherit !important;
    min-width: 80%;
    margin-right: 5px; }
  #result-banner #result-btn {
    display: inline; }
