$vertical-margin: 10%;
$logo-home-width: 130px;
$logo-home-height: 120px;
$result-background-color: #F8F8F8;
$result-description-max-height: 60px !important;
$home-container-top-margin: 10%;

* {box-sizing: border-box}

html,
body {
    width: 100%;
    height: 100%;
}

.embed-icon {
    padding: 2px 5px;
}

#logo-img {
    width: $logo-home-width;
    height: $logo-home-height;
}

#logo-text {
    color: #0074D9;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 4em;
    font-family: "Francois One", sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 0px white, 2px 2px 0px red, 3px 3px 0px yellow, 6px 5px 0px blue;
}

#copyright {
    background-color: #6BB8FC;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    padding-top: 7px;
    padding-bottom: 6px;
    bottom: 0;
    color: white;
}

#result-end-tag {
    color: gray;
    margin-bottom: 10px;
}

.center {
    position: absolute;
    left: $vertical-margin;
    right: $vertical-margin;
}

#home-container {
    margin: $home-container-top-margin auto;
    text-align: center;

    #search-btn {
        font-size: 1em;
        margin-bottom: 35px;
    }
}

#result-container {
    display: none;
}

.results {
    margin-top: 50px;
}

#home-logo-row {
    display: inline-block;
}

#home-input {
    margin: 10px auto;
}

#home-hint {
    margin-top: -5px;
    margin-bottom: 5px;
    color: gray;
}

.entry-container {
    // background-color: $result-background-color;
    margin-bottom: 10px;
    padding: 10px 10px;

    .service-name {
        font-size: 1.5em;
        margin-bottom: 0px;
    }

    .provider {
        font-size: 1.3em;
    }

    .description {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: $result-description-max-height;
    }
}

#result-banner {
    background-color: white;
    position: fixed;
    left: $vertical-margin - 5;
    right: $vertical-margin - 5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    // width: 100%;
    z-index: 1;

    .back-icon {
        margin-right: 5px;
    }

    #result-input {
        display: inline;
        width: inherit !important;
        min-width: 80%;
        margin-right: 5px;
    }

    #result-btn {
        display: inline;
    }
}
